@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.ben {
    width: 200px; /* Set a custom width */
    border-radius: 5px; /* Round the corners */
    background-color: #972a2a; /* Set a background color */
    color: red;
  }
  
  .mat-option {
    color: #333; /* Set text color */
  }