<!-- <button (click)="fetchCountries()">Fetch countries!</button>
<button (click)="fetchGenres()">Fetch genres!</button> -->

<mat-select class="ben" [(ngModel)]="selectedCountryId" (ngModelChange)="onCountrySelectionChange()" name="country" color="primary">
  <mat-option *ngFor="let country of countries.result | keyvalue" [value]="country.key">{{ country.value.name }}</mat-option>
</mat-select>

<app-service-checkboxes [services]="services" [selectedCountryId]="selectedCountryId"></app-service-checkboxes>
<!-- <li *ngFor="let genre of genres.result | keyvalue">
    {{ genre.key }}: {{ genre.value }}
  </li> -->
